table
  width 100%
  border-collapse collapse
  td, th
    padding 10px
    border 1px solid #dddddd

/* Set the form style */
form
  label
    display block
    margin-bottom 10px
  input, select, textarea
    width 100%
    padding 10px
    border 1px solid #dddddd
    &:focus
      border-color #2E3B55

/* Set the error style */
.error
  color #ff0000
  font-weight 600

